@charset "utf-8";
/* Main tab panel */
.mainTabPanel  {background-color: #F0F0F0 !important; border: 0}

/* hide tab bar */
.mainTabPanel > div.x-tab-bar {
    display: none;
}
.mainTabPanel > div.x-panel-body {
    top: 0 !important;
}

/* formatting table for item properties, used in system properties plugin*/
table.item-props {
    border-collapse: separate;
    width: 100%;
    border: none;
    border-top: 0;
    border-spacing: 0;
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
}
table.item-props td.k {
    width: 30%;
    color: #777;
}
table.item-props td {
    vertical-align: top;
    padding: 5px 7px;
    border-bottom: 1px solid #DDD;
}

table.item-props, table.duplicates  {
    border-collapse: separate;
    width: 100%;
    border: none;
    /* border-left: 0; */
    border-top: 0;
    border-spacing: 0;
    /*font: 11px "lucida grande",tahoma,verdana,arial,sans-serif;*/
}

table.item-props  a.path, table.duplicates  a.path {
    color: #000;
}

/* numbers button for notifications */
.numbersButton .x-btn-inner {
  display: block;
  position: absolute;
  bottom: -5px;
  right: -5px;
  max-width: 100%;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  font-family: helvetica;
  font-weight: bold;
  background-color: #dc0d17;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
  background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
  padding: 1px 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
}
