@charset "utf-8";
/* Common CSS Document */
.fs8{ font-size: 8px}
.fs10{ font-size: 10px}
.fs11{ font-size: 11px}
.fs12{ font-size: 12px}
.fs13{ font-size: 13px }
.fs14{ font-size: 14px }
.fs16{ font-size: 16px }
.fs18{ font-size: 18px }
.fs20{ font-size: 20px}
.fwN{ font-weight: normal }
.fwB{ font-weight: bold }
.fsN{ font-style: normal }
.fsI{ font-style: italic }
.tdN{ text-decoration: none }
.tdU{ text-decoration: underline }

.taL{ text-align: left }
.taC{ text-align: center }
.taJ{ text-align: justify }
.taR{ text-align: right }
.ttU{ text-transform: uppercase }
.vaT, .vaT td{ vertical-align: top}
.dIB{display: inline-block}
.dn{display: none}

.cW{ color: white }
.cB{ color: black }
.cO{ color: #D36E01 } /* dark orange*/
.cBl{ color: blue}
.cG{ color: gray }
.cGR{ color: green }
.cLG{ color:#CCCCCC }
.cR{ color: red }
.cRequired{ color: #C00 }
.cM{ color: maroon }
.cDB{ color: #356AA0 } /*DiggBlue*/
.bgcLG, .bgclg{ background-color: #eee }
.bgcW{ background-color: #FFF }
.bgcY{ background-color: #FFFF88 } /*Interactive action yellow*/
.bgcLR{ background-color: #FFCCCC }
.gr {color: #777}
.drtl {direction: rtl}

.bgpLT{ background-position: 0 2px}
.op02{opacity: 0.2}
.op03{opacity: 0.3}
.op05{opacity: 0.5}
.op1{opacity: inherit}

.p2{ padding: 2px }
.p5{ padding: 5px }
.p10{ padding: 10px }
.p15{ padding: 15px }
.p20{ padding: 20px }
.pt10{ padding-top: 10px }
.pl7{ padding-left: 7px }
.pl10{ padding-left: 10px }
.pb5{ padding-bottom: 5px }
.pb10{ padding-bottom: 10px }
.fl{ float: left }
.fr{ float: right }
.lh14{ line-height: 14px }
.lh16{ line-height: 16px }
.lh20{ line-height: 20px }
.lh22{ line-height: 22px }
.btg {border-top: 1px solid #EEE }
.brg {border-right: 1px solid #EEE }
.bbg {border-bottom: 1px solid #EEE }
.blg {border-top: 1px solid #EEE }

.icon-none{background: none }
.i16{width: 16px; height: 16px}
.i16u{width: 16px; height: 16px; background-image:url(/css/i/ext/.png)}
.i24{width: 24px; height: 24px}
.i32{width: 32px; height: 32px}
.i40{width: 40px; height: 40px}

.x-rtl .icon-padding, .x-rtl .icon-padding .x-grid3-cell-inner { padding-right: 22px; min-height: 16px; background-position: 100% 50%;}


.bgs32{background-size: 32px 32px}
.wsNW {white-space: nowrap}
.click, .header-click{ color: #286bcc; cursor: hand; cursor: pointer; text-decoration: none }
.click:hover{ color: #286bcc; text-decoration: underline }
.header-click:hover{ color: #286bcc; text-decoration: none }

/* object field, renderer=listObjIcons */
ul.clean {list-style: none; margin: 0; padding: 0; }
ul.clean li { list-style: none; margin: 0; padding: 0; display: block}
.with-icons li {padding-left: 20px; white-space: nowrap}
.fit-img {
    max-width: 100%;
    max-height: 100%;
}
